<div style="display: flex; justify-content:center; margin: 30px; ">
    <div style="width: 500px;">
        <form  style="width: 100%;">
            <input type="button" value="Добавить" style="width: 100%; height: 30px;" onclick="addContact()">
        </form>
    </div>
</div>  

<script>
    function addContact(){
        window.location = "/Add"
    }
</script>