<div style="display: flex; justify-content:center; margin: 30px; ">
    <div style="width: 500px; display:flex; justify-content:space-between">
        <form method="post" action="/Update" style="width: 100%;" enctype="application/json">
        <div style="width: 500px; display:flex; justify-content:space-between">
            <input  id="Id" name="id" type="text" style="height: 30px; width:45%" placeholder="Id" value="{{contact.Id}}" hidden >
            <input id="Name" name="name" type="text" style="height: 30px; width:45%" placeholder="Name" value="{{contact.Name}}">
            <input id="Phone" name="phone" type="text" style="height: 30px; width:45%" placeholder="Phone" value="{{contact.Phone}}">
        </div>
        <div style="display:flex; justify-content:space-between; width:100$; margin:5px 0px 0px 0px " >
            <input type="submit" value="Изменить" style="width: 100%; height: 30px;">
             <input type="button" value="Удалить" style="width: 100%; height: 30px;" onclick="Delete()">
              <input type="button" value="Отказаться" style="width: 100%; height: 30px;" onclick="{{Back}}">
        </div>
        </form>
        
    </div>
</div>  

<script>
    function Delete(){
        const id = document.getElementById("Id");
        var elem = {Id: id.value}
        fetch("/Delete", {
            method: "POST",  
            headers: {
            "Content-Type": "application/json"
            },
            body:JSON.stringify(elem)
        }).then((resp) => {window.location = '/'});
    }
</script>